* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    width: 800px;
    margin: 0 auto;
    
}

h1 {
    text-align: center;
    background-color: gainsboro;
    padding: 10px;
}

ul {
    background-color: lightcoral;
    padding: 20px;
    display: inline-block;
}

li {
    list-style: none;
    padding: 3px;
    font-weight: bold;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}